body {
    background-color:rgb(209,151,232);
    margin:0;
    font-family: Arial;
}
/* Top header */
#header {
    
    top: 0;
    position: fixed;
    margin-top:0;
    width: 100%;
    height: 50px;
    background-color:rgb(200,200,200);
}
#header h1 {
    font-size: 2em;
    font-family: sans-serif;
    color: #334455;
    padding-left: 50px;
    display: inline-block;
    margin: 7px;
}
#header nav {
    height: inherit;
    float: right;
    clear: both;
    display: inline-block;
    margin-left: 5px;

}
#header ul {
    height: inherit;
    margin-top: 0;
    margin-bottom:0;
}
#header nav li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-right: 2px dashed #fff;
} 
#header nav a:hover {
    color: #C2C2C2;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.navi {
    background-color: #D197E8;
    border: 1px dashed #fff;
    -webkit-border-radius:6px;
    -webkit-box-shadow: 0 0 0 4px #D197E8, 2px 2px 4px 4px rgba(25,25,25,.8);
    
}

a {
    color: #334455;
    font-size: 1.5em;
    text-decoration: none;
}

/* Center Part*/
#main-content {
    margin: auto;
    
    margin-top: 22%;
    width: 100%;    
  

    
}
.main {
  
    text-align: center;
    
   
    width: 100%;
}
#pro {
    margin: auto;
    width: 10%;
    font-size: 1.5em;
    background-color: #D197E8;
    border: 1px dashed #fff;
    -webkit-border-radius:6px;
    -webkit-box-shadow: 0 0 0 4px #D197E8, 2px 2px 4px 4px rgba(25,25,25,.8);

}
.short-cut {
    border:1px solid black;
    height: 400px;
    width: 450px;
    margin: 50px;

    border-radius: 20px;
    display: inline-block;
    font-size: 10px;

}
.short-cut h3 {
    font-size: 1.5em;
}

.short-cut p {
    text-align: left;
    margin-left: 20px;
    font-size: 1em;
    height:40px;
}
.short-cut img {
    height: 70%;
    width: 100%;
    border-radius: 20px;

}

#about-me {
    text-align: center;
    width:100%;
    height: 300px;
    margin-top: 190px;
  
 

}
#about-me h2 {
    width: 60%;
    margin: 20px auto;

}
#project {
    min-height: 700px;
     background-color: rgb(241,241,241);
     padding-top: 20px;
}

#contact-me {
    
    width: 100%;
    height: 300px;
    text-align: center;
    margin: auto;

 
   
}
.getin-touch {
    position: relative;
    display: inline-block;
    width: 4.4%;
    height: 18%;
    margin-right: 60px;
    margin-top: 100px;
    margin-left: 15px;

    text-align: center;
    border-radius: 4px;
}

#google {
    background: url(google.jpeg) no-repeat;
    background-size:contain;
}

#twitter {
    background: url(twitter.jpeg) no-repeat;
    background-size:contain;
}
#skype {
    background: url(skype.jpeg) no-repeat;
    background-size:contain;
}
#email {
    background: url(mail.jpeg) no-repeat;
    background-size:contain;
}




















